//回数券
.coupon {
    margin: 140px auto 200px;
    //タイトルの調整
    .kasou{
        margin-bottom: 75px;
    }

    //回数券のインナー
    &__inner:not(:last-child) {
        margin-bottom: 73px;
    }

    //コース
    &__name {
        font-family: 'Zen Old Mincho', serif;//游明朝のかわり
        font-size: 32px;
        text-align: left;
        color: #4f4f4f;
        margin-bottom: 55px;
    }
    &__name:before{
        content: '';
        flex-grow: 1;/* 余白を分け与える */
        height: 1px;
        background: #C39D89;
        width: 185px;
        margin-right: 20px;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    &__name {
        &--pink::before{
            background-color: #E8B09F;
        }
    }


    //●●分コース
    &__course {
        max-width: 785px;
        background-color: #fff;
        margin: 0 auto;
        &__mintes {
            font-size: 30px;
            line-height: 30px;
            text-align: left;
            color: #4f4f4f;
            padding-bottom: 7px;
            border-bottom: solid 1px #C39D89;
            display: inline-block;
            white-space: nowrap;
            margin: 40px;
            &--pink{
                border-bottom: solid 1px #E8B09F;
            }
        }

        &__list {
            padding-bottom: 30px;
        }

        &__item {
            display: flex;
            justify-content: left;
            font-size: 30px;
            line-height: 30px;
            text-align: left;
            color: #4f4f4f;
            padding: 0 101px;
        }
        &__item:not(:last-child) {
            margin-bottom: 30px;
            
        }
        //回数
        &__time {
            width: 130px;
            margin-right: 10px;
        }
        // 値段
        &__price {
            width: 127px;
            margin-right: 19px;
        }
        // ●●％OFF
        &__off {
            width: calc(100% - 140px - 146px);  
            font-size: 25px; 
            .font-skin{
                font-size: 30px;
            }     
        }
        
    }
    &__course:not(:last-child) {
        margin-bottom: 50px;
    }

}
//メディアクエリ
@media screen and (max-width:768px) {

    //回数券
    .coupon {
        margin: 45px auto 120px;
        //タイトルの調整
        .kasou{
            margin-bottom: 45px;
        }

        //回数券のインナー
        &__inner:not(:last-child) {
            margin-bottom: 57px;
        }

        //コース
        &__name {
            font-family: 'Zen Old Mincho', serif;//游明朝のかわり
            font-size: 16px;
            margin-bottom: 28px;
        }
        &__name:before{
            width: 40px;
            margin-right: 10px;
            margin-bottom: 5px;
        }


        &__courses{
            
            padding: 0 50px;
        }
        //●●分コース
        &__course {
            background-color: #fff;
            margin: 0 auto;
            &__mintes {
                font-size: 17px;
                line-height: 17px;
                padding-bottom: 3px;
                margin: 10px 10px 15px 12px;
            }

            &__list {
                padding-bottom: 17px;
            }

            &__item {
                text-align: left;
                line-height: 20px;
                color: #4f4f4f;
                padding: 0;
            }
            &__item:not(:last-child) {
                margin-bottom: 9px;
                
            }
            //回数
            &__time {
                width: 66px;
                margin-right: 15px;
                font-size: 16px;
            }
            // 値段
            &__price {
                width: 80px;
                margin-right: 3px;
                font-size: 19px;
            }
            // ●●％OFF
            &__off {
                width: fit-content;  
                font-size: 13px;   
                .font-skin{
                    font-size: 16px;
                }   
            }
            
        }
        &__course:not(:last-child) {
            margin-bottom: 20px;
        }

    }
}

